.regispage{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    .regisfrom{
        background-color: black;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        input{
            width: 80%;
            outline: none;
            border: 1px solid white;
            margin: 5px 0;
            padding: 10px 0;
            padding-left: 10px;
            color: rgb(255, 255, 255);
            background-color: black;
        }
        h1{
            color: white;
        }
        p{
            color: white;
            a{
                color: rgb(19, 155, 183);
                cursor: pointer;
            }
        }
        .regis-btn{
            width: calc(80vw + 10px);
            height: 35px;
            background-color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;

        }
        hr{
            width: 80vw;
            border: 1px solid white;
            background-color: white;
            margin: 3vh 0 ;
        }
    }
}
.cbx{
    width: 100vw;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -35vw;
    p{
        color: white;
        width: 90%;
        font-size: 12px;
        display: flex;
        margin-left: -25vw;
    }
    input{
        margin: 0;
        padding: 0;
        width: 50%;
        display: flex;
        height: 50%;
    }
}